
.myContainer_item{
  overflow-x:hidden;
}

.myContainer {
    display:grid;
    grid-template-columns:repeat(5,121px);
    width:98%;
    grid-gap:10px;
    overflow-x: scroll;
    margin-left: 15px;
  }
  