
.spaceTypeContainer{
  overflow-x: hidden;
}

.spaceTypeItems {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 121px;
  width: 100%;
  overflow-x: scroll;
  margin-left: 15px;
}

.spaceTypeList {
  list-style: none;
  margin-right: 15px;
}
