.cardContainer {
  position: relative;
  text-align: center;
  background-image: url('/static/images/header-hero.png');
  background-size: cover;
  width: 100vw;
  aspect-ratio: 4 / 5;
  padding: 50px 42px;
}

.cardTitle {
  color: white;
  font-size: 25px;
  font-weight: 800;
}

.cardTitleGreen {
  color: #D9F2A5;
  text-decoration: underline;
  text-decoration-color: #D9F2A5;
}

.cardLogo {
  position: absolute;
  bottom: 20px;
  left: 50vw;
  transform: translateX(-50%);
}
