.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://d500.epimg.net/cincodias/imagenes/2021/10/06/fortunas/1633542392_907620_1633542617_noticia_normal.jpg');
    background-size: cover;
    height: 550px;
    width:450px;
    padding: 50px;
    box-shadow: 10px 9px 103px 138px rgba(31,8,8,0.27) inset;
    -webkit-box-shadow: 10px 9px 103px 138px rgba(31,8,8,0.27) inset;
    -moz-box-shadow: 10px 9px 103px 138px rgba(31,8,8,0.27) inset;
}

.h1{
    color: white;
    font-size: 25px;
    text-align: 100px;
    margin-bottom: 350px;
    font-weight: 800;
}

.tr{
    color: greenyellow;
    text-decoration: underline;
    text-decoration-color: greenyellow;
    font-size: 25px;
    text-align: 100px;
    font-weight: 800;
}

