.container {
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  margin-top: 48px;
}

.Title {
  margin-top: 32px;
  font-size: 22px;
  text-align: center;
  color: #136262;
}

.h4 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
  align-self: flex-start;
  margin: 20px 5px 5px 15px;
}

.h5 {
  color: rgb(156, 145, 145);
  font-size: 16px;
  align-self: flex-start;
  margin-left: 15px;
}

.footerLogo {
  align-self: center;
  margin: 48px 0;
}
