.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form{
    border-radius: 10px;
    border: solid rgb(4, 196, 4);
    width: 150px;
    height: 50px;
    margin: 10px;
}
