.container {
  position: relative;
}

.specification {
  font-weight: bold;
  position: absolute;
  bottom: calc(35% + 40px);
  left: 20px;
}

.dots {
  position: absolute;
  bottom: calc(35% + 20px);
  left: calc(50% - 25px);
}
